.mywork-section {
  padding: 10rem 12%;
  background-color: #8a603bbb;
  color: whitesmoke;
  text-align: center;
}

.mywork-section .heading {
  font-size: 8rem;
  margin-bottom: 5rem;
}

.mywork-section .heading span {
  color: var(--main-color);
}

.mywork-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.mywork-item {
  background-color: #926844;
  border-radius: 20px;
  padding: 3rem;
  max-width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-size: 4rem;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.mywork-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--main-color);
}

.work-i{
    color: #ffffff;
}

.work-i:hover {
    color: var(--main-color);
}

/* Responsive */
@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }
}
